################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.o
/student-distrib/bootimg
/student-distrib/Makefile.dep
